version: "3"
services:
  x-ui-services:
    image: yidadaa/chatgpt-next-web
    ports:
      - "9200:3000"
    # volumes:
      # - "./db:/etc/x-ui"
      # - "./cert:/root/cert"
    environment:
      - "GOOGLE_API_KEY"="value"
      - "CODE"="Ethernet"
